.button-container{
    display: flex;
    gap: 20px;
    justify-content: center;
}


.hostees-container {
    background: white;
}
.button-primary {
    background-color: rgb(0, 119, 255);
}

.button-delete {
    background-color: #cc0404;
    color: white;
    border-color:#cc0404; ;
}

.button-delete:hover {
    background-color: rgb(204, 4, 4);
    color: white;
}
.cards-anfitrion {
    box-shadow: 0px 0px 20px;
    border-radius: 15px;
}

.summary-hostess {
    position: relative;
    margin-left: 10px;
    width: 270px;
    margin-top: 545px;
    font-size: 11px;
    color: gray;
}

.hostess-swiper{
    height: 270px;
    width: 270px;
}
.demo-logo-vertical {
    background: gray;
}

.menu-anfitrion {
    background: #f0f0f0 ;
    color: black;
    display: grid;
    gap: 1rem;
}

.items-anfitrion:hover {
    color: #8B008B;
    background: #f0f0f0 ;

}
.items-anfitrion:focus {
    color: #8B008B;
    background: #f0f0f0 ;

}
.items-anfitrion:active {
    color: #8B008B;
    background: #f0f0f0 ;

}
.items-anfitrion::after {
    color: #8B008B;
    background: #f0f0f0 ;

}

#menu-left {
    background: #f0f0f0;
    height: 100vh;
    left: 0;
    bottom: 0;
    overflow: auto;
}

#close-sesion:hover {
 color: #8B008B;
 border-color: #8B008B;
}

@media screen and (max-width: 20px) {
    .hostess-swiper{
        height: 70px;
        width: 70px;
    }
}