.button-container{
    display: flex;
    gap: 20px;
    justify-content: center;
}


.hostees-container {
    background: white;
}
.button-primary {
    background-color: rgb(0, 119, 255);
}

.button-delete {
    background-color: #cc0404;
    color: white;
    border-color:#cc0404; ;
}

.button-delete:hover {
    background-color: rgb(204, 4, 4);
    color: white;
}
.cards-anfitrion {
    box-shadow: 0px 0px 20px;
    border-radius: 15px;
}

.summary-hostess {
    position: relative;
    margin-left: 10px;
    width: 270px;
    margin-top: 545px;
    font-size: 11px;
    color: gray;
}

.hostess-swiper{
    height: 270px;
    width: 270px;
}
.demo-logo-vertical {
    background: gray;
}

.menu-anfitrion {
    background: #F8F9FA ;
    color: black;
    display: grid;
    gap: 1rem;

}

.items-anfitrion{
    font-size: 1.8em;
    background-color: #F8F9FA ;

    user-select: none; 

}
:where(.css-dev-only-do-not-override-1vr7spz).ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-1vr7spz).ant-menu-light > .ant-menu .ant-menu-item-selected {
    background-color: #F8F9FA ;
}

/* Cambiar el color del texto al seleccionar un elemento */
:where(.css-dev-only-do-not-override-1vr7spz).ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-1vr7spz).ant-menu-light > .ant-menu .ant-menu-item-selected {
    color: #8B008B;
    background-color: #F8F9FA;

}



.items-anfitrion:hover {
    color: #8B008B;
    background: #F8F9FA;

}
.items-anfitrion:active {
    color: #8B008B;
    background: none; 

}
.items-anfitrion::after {
    color: #8B008B;
    background: #F8F9FA ;

}
.items-anfitrion:focus {
    color: #8B008B;
    background: #F8F9FA ;

}
.items-anfitrion:active {
    color: #8B008B;
    background: #F8F9FA ;

}
.items-anfitrion::after {
    color: #8B008B;
    background: #F8F9FA ;

}

#menu-left {
    background: #F8F9FA;
    height: 100vh;
    left: 0;
    bottom: 0;
    overflow: auto;
}

#close-sesion:hover {
 color: #8B008B;
 border-color: #8B008B;
}

@media screen and (max-width: 20px) {
    .hostess-swiper{
        height: 70px;
        width: 70px;
    }
}