.start-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 25em);
  width: 100%;
  gap: 5em;
}

.start-img h2 {
  text-align: center;
  color: #8b008b;
}

.menu-anfitrion:active {
  background: none;
}

.avatar-anfitrion {
  display: flex;
  margin-bottom: 10%;
  margin-left: 2%;
  gap: 10%;
  margin-top: 10%;
}


@media  screen and (min-width: 1024px) and (max-width: 1440px) {
  .start-container {
    grid-template-columns: repeat(auto-fit, 15em);
   
  }
}