.filter-container {
    display: flex;
    margin-top: 30px;
    height: 100vh;
    justify-content: center;


    .filter-lagos {
        position: relative;
        background-size: cover;
        background-image: url('../../assets/icons-filter/lagos.png');
        border-radius: 10px;
        height: 650px;
        width: 650px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .05);
    }
    
    .bg-lagos {
        background-color: rgba(0, 0, 0, 0.421);
        color: white;
        text-align: center;
        border-radius: 10px;
        height: 100%;
        display: none;
        transition: background-color 0.3s, opacity 0.3s;


      }
      
      #lagos {
       margin-top: 30vh;
       position: relative;
       text-align: center;

      }
      
      .filter-lagos:hover .bg-lagos {
        display: grid;
        opacity: 1;
      }
      
      
      
      .filter-montañas {
        position: relative;
        background-image: url('../../assets/icons-filter/montañas.png');
        background-size: cover;

        border-radius: 10px;
        height: 650px;
        width: 650px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .05);
    }
    
    .bg-montañas {
        background-color: rgba(0, 0, 0, 0.421);
        color: white;
        text-align: center;
        border-radius: 10px;
        height: 100%;
        display: none;
        transition: background-color 0.3s, opacity 0.3s;

      }
      
      #montañas {
       margin-top: 30vh;
       position: relative;
       text-align: center;

      }
      
      .filter-montañas:hover .bg-montañas {
        display: grid;
        opacity: 1;
      }







    .filter-verdes {
        color: white;
        background-image: url('../../assets/icons-filter/areas-verdes.png');

        border-radius: 10px;
        height: 650px;
        width: 650px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .05);
    }


    .bg-verdes {
        background-color: rgba(0, 0, 0, 0.421);
        color: white;
        text-align: center;
        border-radius: 10px;
        height: 100%;
        display: none;
        transition: background-color 0.3s, opacity 0.3s;

      }
      
      #verdes {
       margin-top: 30vh;
       position: relative;
       text-align: center;

      }
      
      .filter-verdes:hover .bg-verdes {
        display: grid;
        opacity: 1;
      }


    .filter-acuaticos {
        color: white;
        background-image: url('../../assets/icons-filter/parques-acuaticos.jpg');

        border-radius: 10px;
        height: 650px;
        width: 650px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .05);
    }

    .bg-acuaticos {
        background-color: rgba(0, 0, 0, 0.421);
        color: white;
        text-align: center;
        border-radius: 10px;
        height: 100%;
        display: none;
        transition: background-color 0.3s, opacity 0.3s;

      }
      
      #acuaticos {
       margin-top: 30vh;
       position: relative;
       text-align: center;

      }
      
      .filter-acuaticos:hover .bg-acuaticos {
        display: grid;
        opacity: 1;
      }



    .filter-playas {
        color: white;
        background-image: url('../../assets/icons-filter/playas.png');

        border-radius: 10px;
        height: 650px;
        width: 650px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .05);
    }

    .bg-playas {
        background-color: rgba(0, 0, 0, 0.421);
        color: white;
        text-align: center;
        border-radius: 10px;
        height: 100%;
        display: none;
        transition: background-color 0.3s, opacity 0.3s;

      }
      
      #playas {
       margin-top: 30vh;
       position: relative;
       text-align: center;

      }
      
      .filter-playas:hover .bg-playas {
        display: grid;
        opacity: 1;
      }
      





    .filter-arqueologicos {
        color: white;
        background-image: url('../../assets/icons-filter/parques-arqueologicos.png');

        border-radius: 10px;
        height: 650px;
        width: 650px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .05);
    }



    .bg-arqueologicos {
        background-color: rgba(0, 0, 0, 0.421);
        color: white;
        text-align: center;
        border-radius: 10px;
        height: 100%;
        display: none;
        transition: background-color 0.3s, opacity 0.3s;

      }
      
      #arqueologicos {
       margin-top: 30vh;
       position: relative;
       text-align: center;

      }
      
      .filter-arqueologicos:hover .bg-arqueologicos {
        display: grid;
        opacity: 1;
      }


    .slide {
        height: 100%;
        width: 100%; /* Cambia esto a 25% para mostrar 2 elementos a la vez */
        display: flex;
        justify-content: center;
      }
      
      .splide-slide {
        display: flex;
        margin-right: 0; /* Evita espacios innecesarios entre las tarjetas */
        
      }
      

    .filter-type img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
    }

    .filter-type p {
        color: black;
    }
    .slide-card { 
        display: flex;
        gap: 50px;
        width: 100%;
        justify-content: center;
    }

   
    .splide__arrow--prev,
    .splide__arrow--next {
      background-color: #8B008B; /* Cambia a tu color deseado */
    }
    
    /* Cambia el color del icono de flecha (usualmente una fuente de iconos) */
    .splide__arrow::before {
      color: #ffffff; /* Cambia a tu color deseado */
    }
    


}

.all-filter h2{
    text-align: center;
  }

  .all-filter {
    margin-top: 30px;
  }

@media only screen and (max-width: 480px) {
    .filter-container {

        .filter-lagos {
            
            height: 250px;
            width: 250px;
        }
        .bg-lagos  {
            display: grid;
        }
        #lagos {
            margin-top: 100px;
            font-size: 20px;
        }

        .filter-montañas{
            height: 250px;
            width: 250px;
        }

        .bg-montañas {
            display: grid;

        }
        #montañas {
            margin-top: 100px;
            font-size: 20px;
        }


        .filter-verdes{
            height: 250px;
            width: 250px;
        }

        .bg-verdes {
            display: grid;

        }
        #verdes {
            margin-top: 100px;
            font-size: 20px;
        }


        .filter-acuaticos{
            height: 250px;
            width: 250px;
        }

        .bg-acuaticos {
            display: grid;

        }
        #acuaticos {
            margin-top: 100px;
            font-size: 20px;
        }



        .filter-playas{
            height: 250px;
            width: 250px;
        }


        .bg-playas {
            display: grid;

        }
        #playas {
            margin-top: 100px;
            font-size: 20px;
        }


        .filter-arqueologicos{
            height: 250px;
            width: 250px;
        }

        .bg-arqueologicos {
            display: grid;

        }
        #arqueologicos {
            margin-top: 100px;
            font-size: 20px;
        }
    
    
        .slide-card {
gap: 10px;
        }
    }

};



@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .filter-container {
        .slide {
            height: 50vh;
            width: 68%;
            display: flex;
            justify-content: center;
        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1728px) {
    .filter-container {

        .filter-lagos {
        
            height: 500px;
            width: 500px;
        }
        .filter-montañas {
        
            height: 500px;
            width: 500px;
        }

        .filter-verdes {
        
            height: 500px;
            width: 500px;
        }
        
        .filter-acuaticos {
        
            height: 500px;
            width: 500px;
        }
        .filter-playas {
        
            height: 500px;
            width: 500px;
        }

        .filter-arqueologicos {
        
            height: 500px;
            width: 500px;
        }

  
   
        
          
  
        .slide-card {
gap: 10px;
        }
    }
  }