.login-container {
    background: white;
}

.button-login  {
     background-color: #8B008B;
}

.button-login:hover {
    background-color: #8B008B;
}

.input-password {
outline: none;
}

.input-password:focus {
    box-shadow: 0px 0px 5px #8B008B ;
}

.input-email {
    outline: none;
    }
    
    .input-email:focus {
        box-shadow: 0px 0px 5px #8B008B ;
    }

    .text-color {
        color: #8B008B;
    }

    .text-color :hover {
        color: #8B008B;

    }

    .eyes-button {
        margin-left: 350px;
        margin-top: -60px;
    }

    .loading1 {
        color: #8B008B;
        margin-left: 50%;
    }

/* LoginForms.scss */

.horizontal-line-with-o {
    width: 100%;
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    margin: 20px 0; /* Ajusta el margen superior e inferior según sea necesario */
  }
  
  .line {
    flex: 1;
    height: 1px; /* Altura de la línea */
    background-color: #ccc; /* Color de la línea */
    margin: 0 10px; /* Espacio entre la línea y la letra "O" */
  }
  
  .letter {
    font-size: 20px; /* Ajusta el tamaño de la letra "O" según tus preferencias */
    color: #909090; /* Color de la línea */
    /* Otros estilos de la letra "O" */
  }
