.post-container {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.box-container {
  display: flex;
  gap: 150px;
}

.mb-3 {
  /* Estilo personalizado para el input cuando show.status es "Privado" */
  /* Por ejemplo, puedes establecer el ancho máximo para mantener el mismo tamaño */
  max-width: 350px;
}

.sidebar {
  left: 0;
  width: 650px;
  height: 100vh;
  display: flex;
  justify-content: center;
  /*  background-image: linear-gradient(#015C92, #2D83B5, #89CCF6); */
  background-color: rgb(241, 241, 241);
  position: sticky;
  float: left;
}
input[type="file"] {
  color: transparent;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
.x {
  text-align: center;
}
.hours-container {
  display: flex;
  gap: 12px;
}

.prev-mini {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  gap: 20px;
  margin-top: 20px;
}

.prev-mini img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 5px;
  opacity: 0.6;
}
.file-container {
  height: 50px;
  background-color: white;
}

.action-private {
  display: flex;
  gap: 150px;
  justify-content: center;
}
.action-box {
  display: grid;
  justify-content: center;
  box-shadow: 0px 0px 50px rgb(215, 215, 215);
  width: 500px;
  border-radius: 10px;
}
.rest-info {
  display: grid;
  justify-content: center;
  box-shadow: 0px 0px 50px rgb(215, 215, 215);
  width: 500px;
  border-radius: 10px;
  
}

.start-input {
  display: grid;
  justify-content: center;
  box-shadow: 0px 0px 50px rgb(215, 215, 215);
  width: 500px;
  border-radius: 10px;
}
.label-continent {
  margin-top: 50px;
}
.label-status {
  margin-top: 50px;
}
.label-calendar {
  margin-top: 50px;
}

.bottom-description {
  margin-bottom: 50px;
}
.bottom-people {
  margin-bottom: 50px;
}
.bottom-description {
  margin-bottom: 50px;
}

.btn-x {
  margin-top: 0px;
  position: absolute;
  margin-left: 100px;
  background-color: red;
  width: 15px;
  height: 15px;
  font-size: 10px;
  text-align: center;
  border-radius: 50%;
}

.btn-x button {
  color: white;
}

.btn-x span {
  font-size: 15px;
  text-align: center;
}

.sidebar-logo-container {
  display: "flex";
  align-items: center;
}
.sidebar-logo-container img {
  width: 50%;
  padding: 2em;
}
.sidebar-container {
  display: grid;
  justify-content: center;
  gap: 20px;
}

.sidebar-items {
  height: 100%;
  width: 100%;
}

.sidebar-item {
  padding: 1.5em;
  padding-left: 2em;
  display: flex;
  color: #ffffff;
  list-style: none;
  text-decoration: none;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.sidebar-item:hover {
  background-color: #004b77;
}
.sidebar-item-active {
  padding: 1.5em;
  padding-left: 2em;
  display: flex;
  color: #ffffff;
  list-style: none;
  text-decoration: none;
  align-items: center;
  justify-content: flex-start;
  background-color: #004b77;
  cursor: pointer;
}
.sidebar-item-icon {
  width: 20px;
}
.sidebar-item-label {
  font-size: small;
  font-weight: 600;
  margin-left: 15px;
}
/* Footer */
.sidebar-footer {
  padding: 1.5em;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.btn-reserva {
  background-color: #05a1a1;
}

.btn-reserva:hover {
  background-color: #05a1a1;
}

.btn-reserva:active {
  border-color: #05a1a1;
}

.img-mini img {
  width: 150px;
}

@media only screen and (max-width: 480px) {
  .post-container {
    margin-left: 15px;
    margin-right: 15px;
  }
  .sidebar {
    width: 100%;
  }
  .sidebar-container {
    width: 100%;
    margin-left: 0;
  }
  .sidebar-logo-container {
    margin-left: 0;
  }

  .box-container {
    display: grid;
    gap: 30px;
  }
  .start-input {
    margin-left: 10px;
    margin-right: 10px;
    width: 350px;
  }

  .rest-info {
    margin-left: 10px;
    margin-right: 10px;
    width: 350px;
    height: 450px;
  }
  /*     .start-input input {
      width: 300px;
      margin-left: 10px;
     margin-right: 10px;

    }
    .start-input select {
      width: 300px;
      margin-left: 15px;
      margin-right: 15px;

    }
    .start-input textarea {
      width: 300px;
      margin-left: 15px;
      margin-right: 15px;

    }
    .start-input label {
      margin-left: 15px;
      margin-right: 15px;
    } */

  .post-container {
    display: grid;
  }
  .action-private {
    display: grid;
    gap: 30px;
  }

  .action-box {
    margin-left: 10px;
    margin-right: 10px;
    width: 350px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1114px) {
  .responsive-phone-tablet {
  }
  .sidebar {
    width: 100%;
  }
  .sidebar-container {
    width: 100%;
    margin-left: 0;
  }
  .sidebar-logo-container {
    margin-left: 0;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1728px) {
  .start-input {
    width: 350px;
  }
  .rest-info {
    width: 350px;
  }
  .action-box {
    width: 350px;
  }
  .action-box input{
    width: 340px;
  }
 
  .action-box input{
  width: 650px;
  }
}

  .action-private {
    gap: 60px;
  }
  .box-container {
    gap: 60px;
  }
  .hours-container {
  width: 250px;
  }

#steps {
  margin-top: 50px;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Asegura que esté en la parte superior de todos los elementos */
}

.loading-overlay h2 {
  font-size: var(--titleSize);
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


