.navbar-container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  position: sticky;
  top: 0;
  background: white;
  box-shadow: 0px 0px 3px rgb(229, 229, 229);
  z-index: 1000;
}


.btn-public {
  background-color: #8B008B;
}

.button-continent {
  justify-content: center;
  display: flex;

}

.logo-modal {
  width: 150px;
}

.cancel-btn {
  background-color: #8B008B;
  color: #8B008B;
}

.button-continent button {
  width: 150px;
  height: 150px;
}

.avatar-uploader {
  margin-left: 30px;
}
.navbar-logo {
  width: 70px;
 /*  height: 4rem; */
  margin-left: -25px;
}

.search-bar {
   display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 0.35rem 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .05);
  margin-top: 10px;
  border-radius: 2rem;
  width: 500px; 

}

 .search-bar:hover {
  transition: all 0.2s;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, 0.122);



} 

.search-bar-text {
  font-size: 0.85rem;
  font-weight: 600;
  border-right: 1px solid black;
  padding-right: 0.5rem;
}

.search-bar-text2 {
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--font-grey);
  padding-right: 0.5rem;
}



.profile-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.25rem;
}

.airbnb-your-home button {
  background: #8B008B
  ;
}

.airbnb-your-home button:hover {
  background: #8B008B
  ;

}

.airbnb-your-home {
  padding: 1rem;
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.btn-modal {
  display: flex;
  gap: 10px;
}

.btn-modal button {
  background: #8B008B
  ;
  border-color: #8B008B
  ;

}

.btn-modal button:hover {
  background-color: #8B008B
  ;
  border-color: #8B008B
  ;

}

.btn-modal button:active {
  background-color: #8B008B;
  border-color: #8B008B;
  color: #fff;
}

.airbnb-your-home:hover {
  background-color: var(--light-grey);
}

.profile-menu-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
  color: var(--font-grey);
  border: 1px solid var(--grey);
  padding: 0.5rem;
  border-radius: 2rem;
}

.menu-items {
  padding: 0.5rem 1rem !important;
  font-size: 0.8rem;
  color: var(--font-grey);

}


.bottom-nav {
  display: none;

}


@media only screen and (max-width: 800px) {


  #icons-lenguage {
    display: none;
  }


  .navbar {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }


  .profile-menu-flex {
    position: fixed;
    top: 0.3rem;
    right: 1.5rem;
  }

  .bottom-nav {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid var(--grey);
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
  }

  .navbar-logo {
    height: 3rem;
  }


}

@media only screen and (max-width: 480px) {
  .button-continent {
    flex-direction: column;

  }

  .search-bar {
    display: none;


  }
  .navbar-logo {
    width: 70px;
  }
}


@media only screen and (min-width: 480px) and (max-width: 1024px) {
  .search-bar {
    display: none;


  }

  .bottom-nav {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid var(--grey);
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
  }
}

