.container-updatePublic {
    display: flex;
    margin-top: -6em;
}

.card-update {
    display: grid;
}
.card-image {
    display: grid;
    justify-content: center;
    width: 70em;
    text-align: center;
    margin-left: -10em;

}
.title-subtitle {
    display: grid;
    gap: 2em;

}

.title {
    font-weight: 700;
    font-size: 2.5em;
    text-align: center;

}
.sub-title {
    font-weight: 700;
    font-size: 2em;
    color: gray;

}
.editar-hostess {
    position: absolute;
    margin-top: -20em;
    margin-left: 22em;
    background-color: rgba(139, 0, 139, 0.562);
    border-color: #8B008B;
    border-radius: 50%;
}
.editar-hostess:hover,
.editar-hostess.clicked {
  background-color: #8B008B;
  border-color: #8B008B;
}

.btn-black {
    background-color: black;
    border-color: black;

}
.img-update{
    width: 30em;
    height: 30em;
    border-radius: 4em;
    margin-top: 4em;
    object-fit: cover;
}
.swiper-anfitrion {
    width: 30em;
    height: 34em;
    overflow: hidden;
  }
.btn-icons {
    display: flex;
    gap: 1em;
    margin-top: 2em;
    justify-content: center;
}

#icons-reload {
   font-size: 3em;
}

.direction {
    font-weight: 700;
    font-size: 2.2em;
}

.container-direction {
    margin-top: 0.3em;
    display: grid;
    justify-content: center;
    background: white;
    padding: 2rem;
}
.card-direction{
    padding: 14px;
}
.publication-btn {
    display: flex;
    justify-content: flex-end;

}
#go-btn{
    font-size: 1.5em;
}

.publication-btn button{
    background-color: #8B008B;
    border-color: #8B008B;
    width: 20em;

}
.publication-btn button:hover{
    background-color: #8B008B;

}
.accordion-container{
    display: grid;
    gap: 3em;
}
.accordion{
    width: 30em;
}

  .accordion-bg {
    background: white;
    width: 100%;
    display: grid;
    justify-content: center;
    padding: 15px;

  }
 .slide-container {
    display: flex;
    gap: 4rem;
 }
  .card-calendar {
    height: 10em;
    width: 5em;
  }
  .card-calendar1 {
    height: 10em;
    width: 5em;
  }
  .btn-delete{
    background: transparent;
    color: black;
    border: none;
}
.btn-delete:hover{
    background: transparent;
    color: black;
    border: none;
}

.btn-delete::after{
    background: transparent;
    color: black;
    border: none;
}
 .update-title {
    display: flex;
    justify-content: center;
    place-content: center;
    place-items: center;
    align-items: center;
    gap: 2em;

 }
 .modal-titleupdate {
  margin: 0 auto;
 }
 .input-titleupdate {
    width: 100%;
 }
 .icons-edit {
    text-align: end;
 }

 .header-modal {
    background-color: gray;
 }

 .butonCancelar {
    background-color: black;
 }

 .butonADD {
    background-color: #8B008B;
    border-color: #8B008B;
 }
 .butonADD:hover {
    background-color: #8B008B;
    border-color: #8B008B;
 }

 .card-detailpost {
    width: 500px;
    font-size: 20px;
    font-weight: 600;
 }

@media (max-width: 767px) {
    .container-updatePublic {
        display: grid;
        margin-left: -10em;

    }
    .img-update{
        width: 25em;
        height: 25em;
        border-radius: 4em;
        margin-top: 2em;
        object-fit: cover;

    }

    .swiper-anfitrion {
        width: 25em;
        height: 30em;
        overflow: hidden;
        margin: auto;
        margin-left: 1em;
      }
      .card-direction{
       margin-left: -4em;
    }
      .direction {
        margin-left: 0;
      }
      .card-detailpost {
      width: 350px;
     }

     .accordion-bg {
        margin-left: -5em;
     }
     .accordion{
        width: 85%;
    }
    .card-calendar {
        height: 10em;
        width: 5em;
      }

      .slide-container {
        display: grid;
     }

     .card-calendar1 {
        width: 100%;
      }

    
}

  @media only screen and (min-width: 1024px) and (max-width: 1440px) {
    .img-update{
        width: 25em;
        height: 25em;
    
    }

    .card-image {
        width: 40em;
       
    }
    .card-direction {
     margin-left: 10%;
    }
    .accordion{
        width: 18em;
    }
    .img-update{
        width: 25em;
        height: 25em;
        border-radius: 4em;
        margin-top: 4em;
        object-fit: cover;
    }
    .swiper-anfitrion {
        width: 25em;
        height: 30em;
        overflow: hidden;
      }

  
  }