.containerMywebsite {
  margin: 0px;
  height: 100%;
  width: 100%;

}

.containerCards {
  margin: 0px;
  height: 100%;
  width: 100%;
  padding: 50px;
}

.contentCard {

  position: relative;
  //margin-bottom: 150px;
  justify-content: center;
  display: grid;
  transition: transform 0.3s ease;
  transform-origin: center center;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  border: 1px solid #808080;
  width: fit-content;
  width: 280px;
}
.contentCard:hover {
  transform: scale(1.1);
  position: relative;
  box-shadow: 8px 5px 5px rgb(173, 173, 173);
}

.carouselContainer {
  position: relative;

  .swiperContainer {
    height: 280px;
    width: 280px;
    overflow: hidden;
    .imageContainer {
      border-radius: 15px 15px 0 0;
      width: 100%;
      height: 280px;
      .cardImg {
        height: 100%;
        width: 99.5%;
        object-fit: cover;
        object-position: center;
        border-radius: 15px 15px 0 0;
      }
    }
  }
}

.descriptionCard {
  display: flex;
  justify-content: center;

  .shadowCard {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px 0;
    gap: 15px;

    .card-info-flex {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .card-title {
        text-decoration: none;
        color: black;
        margin: 0px;
      }
    }
    .summary-card {
      position: relative;
      bottom: 5px;
      font-size: 11px;
      color: gray;
      width: 100%;
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
    div .price-none {
      position: relative;
      left: 0;
      width: 270px;
      margin-top: 5px;
      font-size: 11px;
      color: gray;
      transition: top 0.5s ease, width 0.5s ease, transform 0.5s ease;
    }
  }
}

.contentCard:hover .summary-card {
  transform: scale(1);
  opacity: 1;
}

@media screen and (max-width: 1023px) {
  .containerMywebsite {
    height: auto;
  }

  .containerCards {
    height: auto;
    padding: 40px 30px 100px;
  }
}

//************ DETALLE ***************************

.container-updatePublic {
  display: flex;
  width: 100%;
  height: 100%;
}

.card-update {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.tabletOneTop {
  width: 100%;
  height: 60%;
  display: flex;
  //padding-bottom: 10px;
  padding: 15px 0;

  .card-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    gap: 5%;

    .title-subtitle {
      width: 100%;
      height: 28%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      //margin: 10px 0;
      .titleContent {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        h1 {
          font-weight: 700;
          font-size: 2em;
          text-align: center;
          margin: 0px;
        }
        div {
          .btnEditTitle {
            color: #8b008b;
            cursor: pointer;
            transition: transform 0.3s ease;
          }
          .btnEditTitle:hover {
            transform: scale(1.3);
          }
        }
      }

      .update-btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

        .update-title-country {
          display: flex;
          align-items: center;
          gap: 15px;
          .country-btn {
            padding: 3px 8px;
            background-color: transparent;
            border-color: #8b008b;
            color: #8b008b;
            transition: all 0.4s ease-in-out;
          }
          .country-btn:hover {
            background-color: #8b008b;
            color: #fff;
          }
        }
        .update-title-status {
          display: flex;
          align-items: center;
          gap: 15px;
          .status-btn {
            padding: 3px 8px;
            background-color: transparent;
            border-color: #8b008b;
            color: #8b008b;
            transition: all 0.4s ease-in-out;
          }
          .status-btn:hover {
            background-color: #8b008b;
            color: #fff;
          }
        }
      }
    }

    .contentImage {
      //width: 100%;
      max-width: 500px;
      width: 60%;
      height: 68%;
      display: flex;
      justify-content: center;
      position: relative;
      .imageContainer {
        //max-width: 500px;
        //width: 60%;
        //height: 68%;
        height: 100%;
        display: flex;
        justify-content: center;
        //position: relative;
  
        .swiper-anfitrion {
          //max-width: 500px;
          //: 60%;
          //height: 100%;
          overflow: hidden;
          div {
            width: 100%;
            height: 100%;
            border-radius: 25px;
  
            .img-update {
              width: 100%;
              height: 100%;
              border-radius: 25px;
              object-fit: cover;
              object-position: center;
              margin: 0px;
            }
          }
  
          .carousel-control-prev,
          .carousel-control-next {
            background-color: yellow;
            color: yellow;
          }
        }
        .editar-hostess {
          position: absolute;
          background-color: rgba(139, 0, 139, 0.562);
          border-color: #8b008b;
          border-radius: 50px;
          right: 1%;
          top: 0px;
          z-index: 5;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
        }
        .editar-hostess:hover,
        .editar-hostess.clicked {
          background-color: #8b008b;
          border-color: #8b008b;
        }
      }
      .btn-delete-content {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0%;
        left: 1%;
        z-index: 5;
        div {
          .btn-delete {
            background-color: rgba(139, 0, 139, 0.562);
            border-color: #8b008b;
            border-radius: 50px;
            border: none;
            padding: 8px;
          }
          .btn-delete:hover {
            background-color: #8b008b;
            border-color: #8b008b;
            border: none;
          }
  
          .btn-delete::after {
            background-color: #8b008b;
            border-color: #8b008b;
            border: none;
          }
          #icons-reload {
            font-size: 2em;
            color: #fff;
          }
        }
      }
    }
    
  }
}

.tabletOneBottom {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  border-top: 2px solid #b8b8b8;
  .container-direction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    width: 100%;
    gap: 15px;

    .card-direction {
      margin: 0px;
      display: flex;
      flex-direction: column;
      width: 80%;
    }
    .update-title-price {
      display: flex;
      width: 80%;
      .card-price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .price {
          width: 150px;
          p {
            padding: 0px;
            text-align: center;
          }
        }
      }
      .btnEditPrice {
        color: #8b008b;
        border-radius: 50%;
        padding: 15px;
        cursor: pointer;
        transition: transform 0.3s ease;
      }
      .btnEditPrice:hover {
        transform: scale(1.3);
      }
    }
    .publication-btn {
      display: flex;
      justify-content: flex-end;
      width: 95%;
      margin: 0 auto 0 0;

      a #go-btn {
        font-size: 1.5em;
      }
    }
    .publication-btn button {
      background-color: #8b008b;
      border-color: #8b008b;
      width: 15em;
      transition: all 0.4s ease-in-out;
    }
    .publication-btn button:hover {
      background-color: #fff;
      color: #8b008b;
    }
  }
}

.tabletTwo {
  display: flex;
  justify-content: center;
  width: 35%;
  border-left: 2px solid #b8b8b8;

  .accordion-bg {
    background: white;
    width: 90%;
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: column;

    .accordion-container {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .update-title-accordion {
        .accordion {
          width: 100%;
        }
      }
    }
  }
}

.slide-container {
  display: flex;
  gap: 4rem;
}
.card-calendar {
  height: 10em;
  width: 5em;
}
.card-calendar1 {
  height: 10em;
  width: 5em;
}

.modal-titleupdate {
  margin: 0 auto;
}
.input-titleupdate {
  width: 100%;
}

.header-modal {
  background-color: gray;
}

.butonCancelar {
  background-color: black;
}

.butonADD {
  background-color: #8b008b;
  border-color: #8b008b;
}
.butonADD:hover {
  background-color: #8b008b;
  border-color: #8b008b;
}

.card-detailpost {
  width: 500px;
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 1023px) {
  .imageContainer {
    //max-width: 400px;
  }
  .container-updatePublic {
    padding: 20px 0 60px 0;
    height: auto;
  }
}

@media (max-width: 767px) {
  .container-updatePublic {
    flex-direction: column;
    align-items: center;
    padding: 40px 0 50px 0;
    gap: 40px;
  }
  .card-update {
    width: 90%;
    gap: 40px;
  }

  .tabletOneTop {
    padding: 0px;
    .card-image {
      gap: 30px;
      .title-subtitle {
        margin: 0px;
        gap: 10px;
        .update-btn-container {
          flex-direction: column;
          gap: 5px;
          width: 100%;

          .update-title-country {
            width: 80%;
            justify-content: space-between;
          }
          .update-title-status {
            width: 80%;
            justify-content: space-between;
          }
        }
      }
      .contentImage{
        width: 80%;
      }
      .imageContainer {
        width: 100%;
      }
      .btn-delete-content {
        top: 46%;
        left: 10%;
      }
    }
  }

  .tabletOneBottom {
    padding-top: 40px;
    .container-direction {
      gap: 20px;
      .card-direction {
        width: 100%;
        gap: 10px;
      }
      .update-title-price {
        width: 100%;
        .card-price {
          gap: 10px;
        }
      }
      .publication-btn {
        width: 100%;
        margin: 0px;
        display: flex;
        justify-content: center;
      }
    }
  }

  .tabletTwo {
    width: 100%;
    border-left: 0px;

    .accordion-bg {
      margin-top: 0px;
      padding-top: 40px;
      border-top: 2px solid #b8b8b8;
    }
  }

  ///**************************
  .containerCards {
    justify-content: center;
  }

  .contentCard {
    margin: 0 auto;
  }

  .img-update {
    width: 25em;
    height: 25em;
    border-radius: 4em;
    margin-top: 2em;
    object-fit: cover;
  }

  .card-detailpost {
    width: 350px;
  }

  .card-calendar {
    height: 10em;
    width: 5em;
  }

  .slide-container {
    display: grid;
  }

  .card-calendar1 {
    width: 100%;
  }
}

/* @media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .img-update {
    width: 25em;
    height: 25em;
  }

  .card-image {
    width: 40em;
  }
  .card-direction {
    margin-left: 10%;
  }
  .accordion {
    width: 18em;
  }
  .img-update {
    width: 25em;
    height: 25em;
    border-radius: 4em;
    margin-top: 4em;
    object-fit: cover;
  }
  .swiper-anfitrion {
    width: 25em;
    height: 30em;
    overflow: hidden;
  }
} */
